.content {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  align-items: center;
  justify-items: center;
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
  overflow: hidden;
  padding: 0 var(--side-padding) var(--bottom-padding);
  font-family: var(--font-geist-sans);
}

.main {
  display: flex;
  flex-direction: column;
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
}

.main > h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: var(--h1-height);
  font-size: var(--h1-fsize);
  line-height: var(--line-height-sm);
}
.main > h1 > em {
  margin-top: 0.4em;
  font-size: var(--h1-fsize-sm);
  line-height: var(--line-height-md);
  font-weight: 400;
  word-break: keep-all;
}

a.primary {
  background: var(--foreground);
  color: var(--background);
  gap: 8px;
}

a.secondary {
  border-color: var(--gray-alpha-200);
  min-width: 158px;
}

.footer {
  grid-row-start: 3;
  display: flex;
  gap: 24px;
}

.footer a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer img {
  flex-shrink: 0;
}

@media (max-width: 640px) {
  /* mobile */
  .page {
    padding: 32px;
    padding-bottom: 80px;
  }

  .main {
    align-items: center;
  }

  .main ol {
    text-align: center;
  }

  a.secondary {
    min-width: auto;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}
