.inner {
  display: flex;
  justify-content: space-between;
  max-width: var(--max-width);
  height: var(--footer-height);
  margin: 0 auto;
  font-size: var(--font-md);
  line-height: var(--line-height);
}
.information {
  flex-direction: column;
}
.util {
  display: flex;
}
.util a,
.util button {
  font-size: var(--font-lg);
  color: #fff;
}
@media (hover: hover) and (pointer: fine) {
  .util button:hover {
    text-decoration: underline;
  }
}
.address span {
  display: inline-flex;
  color: var(--gray-400);
}
.address span > em {
  margin-left: 12px;
}
.address span > i,
.address span > a {
  margin-left: 4px;
}
.address span > a {
  color: inherit;
  text-decoration: underline;
}
.copyright:before {
  content: '';
  display: block;
  background-image: url(/logo_kia.svg);
  background-repeat: no-repeat;
  background-size: auto 100%;
}
@media (max-width: 743px) {
  .inner {
    flex-direction: column;
    padding-top: 18px;
    padding-bottom: 29px;
  }
  .util a,
  .util button {
    margin-right: 16px;
    line-height: 48px;
  }
  .address span {
    margin-right: 12px;
  }
  .address br:nth-of-type(5) {
    display: none;
  }
  .copyright:before {
    height: 32px;
    margin-bottom: 1px;
  }
}
@media (min-width: 744px) and (max-width: 1023px) {
  .inner {
    flex-direction: column;
    padding-top: 34px;
    padding-bottom: 44px;
  }
  .util a,
  .util button {
    margin-right: 24px;
    line-height: 52px;
  }
  .address span {
    margin-right: 12px;
  }
  .address br:nth-of-type(1),
  .address br:nth-of-type(3),
  .address br:nth-of-type(5) {
    display: none;
  }
  .copyright:before {
    height: 48px;
  }
}
@media (min-width: 1024px) {
  .inner {
    flex-direction: row-reverse;
    align-items: center;
  }
  .util {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
  }
  .util a,
  .util button {
    margin-left: 24px;
    line-height: var(--line-height);
  }
  .address {
    text-align: right;
  }
  .address span {
    margin-left: 12px;
  }
  .address br:nth-of-type(1),
  .address br:nth-of-type(2),
  .address br:nth-of-type(3),
  .address br:nth-of-type(4),
  .address br:nth-of-type(5) {
    display: none;
  }
  .copyright:before {
    height: 56px;
    margin-bottom: 2px;
  }
}
