.appbar {
  align-items: center;
  display: flex;
  height: var(--header-height);
  margin: 0 auto;
}

.appbar .pinned {
  box-shadow: 0 4px 32px 0 rgba(0, 0, 0, 0.08);
}
.appbar .logo {
  align-content: center;
}
@media (min-width: 1024px) {
  .appbar .navlist {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    justify-content: flex-end;
    width: 100%;
  }
  .navlist nav ul {
    display: flex;
  }
  .navlist nav > ul > li > a {
    padding: 0 4px;
    margin: 0 16px;
    font-size: 18px;
    line-height: var(--header-height);
    font-weight: 600;
    color: #000;
    display: list-item;
  }
  .appbar .nav {
    display: none;
  }
}
@media (max-width: 1023px) {
  .appbar .navlist {
    display: none;
  }
  .appbar .nav {
    display: flex;
    flex: 1 1;
    justify-content: flex-end;
  }

  .menu {
    background-color: #ffffff;
    top: var(--header-height);
    bottom: 0;
    padding: 0 var(--side-padding);
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
  }
  .menu nav > ul > li > a {
    margin-bottom: 8px;
    text-align: center;
    font-size: 24px;
    line-height: 56px;
    font-weight: 600;
    color: #000;
    display: list-item;
  }
  header nav > ul > li.active > a {
    color: var(--midnight-900);
  }
}
